.timer {
  width: clamp(20px, 16.00px + 1.25vw, 28px);
  height: auto;
  color: var(--color-light);

  text {
    font-size: clamp(14px, 13.00px + 0.31vw, 16px);
    font-weight: 400;
    fill: currentColor;
  }
}

.animatedCircle {
  stroke-dashoffset: 0;
  stroke-dasharray: var(--circumference);
  animation-name: countdown;
  animation-duration: var(--animation-duration);
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

@keyframes countdown {
  from { stroke-dashoffset: 0; }
  to { stroke-dashoffset: var(--circumference); }
}