.timer {
  color: var(--color-light);

  text {
    font-size: 16px;
    font-weight: 400;
    fill: currentColor;
  }
}

.animatedCircle {
  stroke-dashoffset: 0;
  stroke-dasharray: var(--circumference);
  animation-name: countdown;
  animation-duration: var(--animation-duration);
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

@keyframes countdown {
  from { stroke-dashoffset: 0; }
  to { stroke-dashoffset: var(--circumference); }
}