.openModalButton {
  position: relative;
  width: clamp(40px, 35.00px + 1.56vw, 50px);
  height: clamp(40px, 35.00px + 1.56vw, 50px);
  margin-left: auto;
  border-radius: 50%;
  border: 2px solid transparent;
  box-shadow: var(--shadow);
  background-color: var(--color-accent);
  transition:
    border-color var(--transition),
    background-color var(--transition);

  @media (hover: hover) {
    &:hover {
      border-color: var(--color-accent);
      background-color: var(--color-accent-dark);
    }
  }

  @media (hover: none) {
    &:active {
      border-color: var(--color-accent);
      background-color: var(--color-accent-dark);
    }
  }

  &::before,
  &::after {
    position: absolute;
    content: '';
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: clamp(20px, 18.00px + 0.63vw, 24px);
    height: clamp(2px, 1.50px + 0.16vw, 3px);
    background-color: var(--color-light);
  }

  &::after {
    transform: translate(-50%, -50%) rotate(90deg);
  }
}