.inputWrapper {
  position: relative;
  width: 100%;

  &.noIcon {
    .input {
      padding-left: clamp(8px, 4.00px + 1.25vw, 16px);
    }
  }
}

.input {
  width: 100%;
  height: clamp(32px, 28.00px + 1.25vw, 40px);
  padding-left: clamp(28px, 18.00px + 3.13vw, 48px);
  padding-right: clamp(28px, 18.00px + 3.13vw, 48px);
  font-size: clamp(14px, 12.00px + 0.63vw, 18px);
  font-family: 'Inter';
  font-weight: 400;
  color: var(--color-text);
  background-color: var(--color-bg);
  border: var(--border-input);
  border-radius: var(--border-radius);

  &::placeholder {
    color: var(--color-accent-light);
  }
}

.searchIcon {
  position: absolute;
  top: 50%;
  left: clamp(8px, 4.00px + 1.25vw, 16px);
  transform: translateY(-50%);
}

.clearButton {
  position: absolute;
  right: clamp(8px, 4.00px + 1.25vw, 16px);
  top: 50%;
  transform: translateY(-50%);
  width: clamp(16px, 13.00px + 0.94vw, 22px);
  height: clamp(16px, 13.00px + 0.94vw, 22px);

  &::before,
  &::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    width: clamp(16px, 13.00px + 0.94vw, 22px);
    height: 1px;
    background-color: var(--color-clear-button);
    transition: box-shadow var(--transition);
  }

   &::after {
    transform: translate(-50%, -50%) rotate(-45deg);
  }
}