.editIcon {
  width: 20px;
  height: 20px;
  color: var(--color-gray);
  transition: var(--transition);

  @media (hover: hover) {
    &:hover {
      color: var(--color-accent);
    }
  }

  @media (hover: none) {
    &:active {
      color: var(--color-accent);
    }
  }
}