.button {
  width: 97px;
  height: 40px;
  font-size: 18px;
  text-transform: uppercase;
  border-radius: var(--border-radius);
  border: var(--border);
  transition:
    color var(--transition),
    background-color var(--transition),
    border var(--transition);

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }

  &--apply {
    color: var(--color-light-theme);
    background-color: var(--color-accent);

    &:not(:disabled):hover {
      color: var(--color-accent);
      background-color: var(--color-light-theme);
    }
  }

  &--cancel {
    color: var(--color-accent);
    background-color: var(--color-light-theme);

    &:not(:disabled):hover {
      color: var(--color-light-theme);
      background-color: var(--color-accent);
    }
  }
}