.button {
  width: 97px;
  height: 40px;
  font-size: 18px;
  color: var(--color-light-theme);
  text-transform: uppercase;
  background-color: var(--color-accent);
  border-radius: var(--border-radius);
  border: var(--border);
  transition:
    color var(--transition),
    background-color var(--transition),
    border var(--transition);

  &:hover {
    color: var(--color-accent);
    background-color: var(--color-light-theme);
    border: var(--border);
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
    pointer-events: auto;
  }

  &:disabled:hover {
    color: var(--color-light-theme);
    background-color: var(--color-accent);
    border: var(--border);
  }

  &.buttonCancel {
    color: var(--color-accent);
    background-color: var(--color-light-theme);

    &:hover {
      color: var(--color-light-theme);
      background-color: var(--color-accent);
    }
  }
}