.button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-inline: 20px;
  min-width: 110px;
  height: 40px;
  font-size: 18px;
  text-transform: uppercase;
  border-radius: var(--border-radius);
  border: var(--border);
  transition:
    color var(--transition),
    background-color var(--transition),
    border var(--transition),
    box-shadow var(--transition);

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }

  &--apply {
    color: var(--color-light);
    background-color: var(--color-accent);

    &:not(:disabled):hover {
      color: var(--color-accent);
      background-color: var(--color-bg);
    }
  }

  &--cancel {
    color: var(--color-accent);
    background-color: var(--color-bg);

    &:not(:disabled):hover {
      color: var(--color-light);
      background-color: var(--color-accent);
    }
  }

  &--clear {
    border: 2px solid transparent;
    color: var(--color-light);
    background-color: var(--color-accent);

    &:not(:disabled):hover {
      background-color: var(--color-accent-dark);
      border-color: var(--color-accent);
      box-shadow: var(--shadow);
    }
  }
}