html, body {
  height: 100%;
  overflow: hidden;
}

body {
  font-family: var(--font-family-base);
  font-weight: 500;
  line-height: normal;
  background-color: var(--color-bg);
}

.theme-transition * {
  transition:
    color var(--transition),
    background-color var(--transition),
    border-color var(--transition);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}