*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: 'Inter';
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

button,
input,
select,
textarea {
  font: inherit;
  margin: 0;
  border: none;
  background: none;
  padding: 0;
  outline: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}