:root {
  --color-light: #F7F7F7;
  --color-dark: #252525;
  --color-accent: #6C63FF;
  --color-accent-dark: #534CC2;
  --color-accent-light: #C3C1E5;
  --color-accent-rgb: 108, 99, 255;
  --color-accent-hover: rgba(var(--color-accent-rgb), 0.1);
  --color-accent-selected: rgba(var(--color-accent-rgb), 0.4);
  --color-red: #E50000;
  --color-gray: #CDCDCD;

  --font-family-base: 'Kanit';

  --border: 1px solid var(--color-accent);
  --border-radius: 5px;

  --shadow: 0 0 4px var(--color-accent);

  --transition: 0.3s ease;

  --color-bg: #F7F7F7;
  --color-text: #252525;
  --color-strikethrough: rgba(37, 37, 37, 0.5);
  --color-ui-bg: #F7F7F7;
  --border-input: 1px solid var(--color-accent);
  --border-task: var(--color-accent);
  --color-clear-button: var(--color-accent);
  --color-search: var(--color-accent);
}

[data-theme='dark'] {
  --color-bg: #252525;
  --color-text: #F7F7F7;
  --color-strikethrough: rgba(247, 247, 247, 0.5);
  --color-ui-bg: #252525;
  --color-clear-button: var(--color-light);
  --border-input: 1px solid var(--color-accent-dark);
  --border-task: var(--color-accent-dark);
  --color-accent-theme: var(--color-accent-dark);
}