.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  max-width: 960px;
  margin-inline: auto;
  padding-block: clamp(20px, 10.00px + 3.13vw, 40px);
  padding-inline: clamp(10px, 7.50px + 0.78vw, 15px);
}

.main {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  max-width: 680px;
  width: 100%;
  padding-block: clamp(15px, 7.50px + 2.34vw, 30px);
  margin-inline: auto;
  overflow: hidden;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 680px;
  width: 100%;
  margin-inline: auto;
}