.selectWrapper {
  position: relative;
}

.selectButton {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: clamp(120px, 100.00px + 6.25vw, 160px);
  height: clamp(32px, 28.00px + 1.25vw, 40px);
  padding: clamp(6px, 4.00px + 0.63vw, 10px);
  font-size: clamp(14px, 12.00px + 0.63vw, 18px);
  color: var(--color-light);
  text-transform: uppercase;
  border: 2px solid transparent;
  background-color: var(--color-accent);
  border-radius: var(--border-radius);
  transition:
    box-shadow var(--transition),
    border-color var(--transition),
    background-color var(--transition);

  &--open {
    border-color: var(--color-accent);
    background-color: var(--color-accent-dark);
  }

  &--open .dropdownIcon {
    transform: rotate(180deg);
  }
}

.dropdownIcon {
  transition: transform var(--transition);
}

.optionList {
  position: absolute;
  top: calc(100% + 4px);
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0;
  padding: clamp(4px, 3.00px + 0.31vw, 6px) 0;
  font-size: clamp(14px, 12.00px + 0.63vw, 18px);
  font-weight: 400;
  color: var(--color-accent);
  border: var(--border);
  border-radius: var(--border-radius);
  background-color: var(--color-light);
  box-shadow: var(--shadow);
  list-style: none;
  z-index: 2;
}

.optionItem {
  padding: clamp(4px, 3.00px + 0.31vw, 6px) clamp(4px, 3.00px + 0.31vw, 6px);
  background-color: transparent;
  transition: background-color var(--transition);
  text-transform: capitalize;
  cursor: pointer;

  &:active {
    background-color: var(--color-accent-hover);
  }

  @media (hover: hover) {
    &:hover {
      background-color: var(--color-accent-hover);
    }
  }

  &.selected {
    background-color: var(--color-accent-selected);

    &:active {
      background-color: var(--color-accent-hover);
    }

    @media (hover: hover) {
      &:hover {
        background-color: var(--color-accent-hover);
      }
    }
  }

  &.active {
    background-color: var(--color-accent-hover);
  }
}