.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: clamp(10px, 5.00px + 1.56vw, 20px);
  margin: 0;
}

.emptyImage {
  width: clamp(151px, 116.00px + 10.94vw, 221px);
  height: auto;
}

.emptyText {
  font-size: clamp(16px, 14.00px + 0.63vw, 20px);
  font-weight: 400;
  color: var(--color-text);
}