.themeToggleButton {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: clamp(32px, 28.00px + 1.25vw, 40px);
  height: clamp(32px, 28.00px + 1.25vw, 40px);
  background-color: var(--color-accent);
  border-radius: var(--border-radius);
  transition:
    background-color var(--transition),
    box-shadow var(--transition);

  &:hover {
    background-color: var(--color-accent-dark);
    box-shadow: var(--shadow);
  }

  @media (hover: hover) {
    &:hover {
      background-color: var(--color-accent-dark);
      box-shadow: var(--shadow);
    }
  }

  @media (hover: none) {
    &:active {
      background-color: var(--color-accent-dark);
      box-shadow: var(--shadow);
    }
  }
}