.themeToggleButton {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 40px;
  height: 40px;
  background-color: var(--color-accent);
  border-radius: var(--border-radius);
  transition:
    background-color var(--transition),
    box-shadow var(--transition);

  &:hover {
    background-color: var(--color-accent-dark);
    box-shadow: var(--shadow);
  }
}